*{
  box-sizing: border-box;
  font-family: sans-serif
}

body{
margin: 0; 
background-image: url(foto/bg.jpg);
background-size: cover;
color: white;
}

.topnav{
  position: absolute;
  width: 100% ;
  overflow: hidden;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.topnav a{
  box-shadow: inset 0 0 0 0 #B2BEB5;
  float: right;
  color: white;
  padding: 8px;
  margin-left: 10px;
  margin-top: 4px;
  margin-right: 15px;
  text-decoration: none;
  position: relative;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  border-radius: 15px;
  width: 8%;
  text-align: center;
}

.topnav a:hover{
  box-shadow: inset 100px 0 0 0 #F9F871;
  color: black;
}

.topnav b{
  padding: 8px;
  margin: 4px;
  font-size: medium;
  color: black;
  float: left;
}

.hero{
  width: 100%;
  height: 15cm;
  position: relative;
  display: flex;
  margin-bottom: 10px;

}

.hero img{
  margin-bottom: 3px;
  width: 100%;
  background-size: cover;
     border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.popup{
width: 96.5;
margin: auto;
text-align: center
}
.popup img{
cursor: pointer
}


#myImg2 {

border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}

/* Caption of Modal Image */
#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
animation-name: zoom;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)} 
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
  width: 100%;
}
}

.con1{
  display: flex;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.card1{
  position: relative;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.card1 img{
  display: block;
  height: 4cm;
  width: 4cm;
  border-radius: 15px;
  background-size: cover;
  filter: grayscale(none);
  transition: all 0.5s ease;
}

.card1 a{
  color: transparent;
  text-decoration: none;
}
.card1 a:hover{
  color: white;
}

.card12{
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.card12 img{
  display: block;
  height: 4cm;
  width: 4cm;
  border-radius: 15px;
  background-size: cover;
  filter: grayscale(100%);
}

.judul{
  text-align: center;
}

.card1:hover{
  filter: brightness(90%) hue-rotate(45deg);
  transform: scale(1.04);
  filter: grayscale(100%);
  transition: 0.5s ease;
  color: white;
}

.desc1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  text-align: center;
  margin: 0;
}

.min{
  background-color: #48D4AB;
  width: 89%;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 6px dashed white;
}

.Back{
padding: 8px;
padding-top: 15px;
background-color: #009CCB;
border-radius: 50px;
width: 2cm;
height: 2cm;
text-align: center;
margin: 1cm;
float: right;
text-decoration: none;
position: relative;
transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
color: white;
aspect-ratio: 1;
outline: calc(10%/2) solid #0009;
outline-offset: calc(10%/-2);
cursor: pointer;
transition: 0.3s;
font-size: 15px;
font-weight: bold;
font-size: 1cm;
}

.Back:hover{
box-shadow: inset 2000px 0 0 0 #48D4AB;
color: black;
outline: 8px solid #81E496;
outline-offset: 8px;
}

.image-slideshow {
  width: 1000px;
  position: relative;
  margin: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
  width: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}


.fade img{
    width: 100%;
    height: 10cm;
    margin: 0;
    border-radius: 20px;
}


.desc{
    width: 900px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.con{
    display: flex;

}

.kump{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kump img{
    width: 85%;
    height: 3cm;
    border-radius: 10px;
    margin: 1%;
}

.con2{

  display: flex;
  flex-direction: row;
  text-align: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.mySlides {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 14cm;
  background-color: #16B8A9;
  width: 8cm;
  border-radius: 15px;
  color: black;
  padding: 20px;


}

.mySlides img{
  width: 3cm;
  height: 3cm;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 50px;
  background-size: cover;


}



q {font-style: italic;
text-align: center;
color:white;}


.author {color: #D9EC89;}


h1{
  text-align: center;
  margin-bottom: 5%;
  
}

.map{
width: 1000px;
margin-left: auto;
margin-right: auto;

}

.map iframe{
width:94.5%; 
height:400px;
border:0; 
border-radius: 25px;
margin-bottom: 1cm; 
margin-left: auto;
margin-right: auto;
margin-left: 1cm;
}


